<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Book Network | {{ book.title }}</title>
  <script>
    const book = {{ book | tojson | safe }}
    const userBook = {{ user_book | tojson | safe }}
    const actions = ['wtr', 'rng', 'rd']
    if (userBook) {
      const action = actions[userBook.action]
      const label = document.getElementById(action)
      if (label) label.style.display = 'block'
    }

  </script>
  <style lang="css">
    #wtr, #rng, #rd {
      display: none;
    }
  </style>
</head>
<body>
<h1>{{book.title}}</h1>
<p>{{book.description}}</p>
<p>Author: {{book.author}}</p>
<p id="wtr">This book is on your wishlist</p>
<p id="rng">You are currently reading this book</p>
<p id="rd">You have alread read this book</p>
<button onclick="">Want to read</button>
<button onclick="">Reading</button>
<button onclick="">Read</button>
</body>
</html>