{% extends "base.html" %}

{% block title %} Home | Book Network {% endblock title %}

{% block content %}
<div id="user-header">
  <h1 class="white">Welcome back, {{user.username}}</h1>
  <span class="text-1">What will you read next?</span>
</div>
<div class="container">
  <div class="section">
    <h1>Bookshelf</h1>
    <div class="book-holder">
      {% for book in user_books if book.action == 1 %}
      <a href="/books/{{book.book_data.work_id}}" class="book">
        <img src="https://covers.openlibrary.org/b/id/{{book.book_data.cover}}-M.jpg" alt="cover for {{book.book_data.cover}}">
        <div class="book-data">
          <span class="title">{{book.book_data.title}}</span>
          <span class="author">{{book.book_data.author}}</span>
          <span class="action">Currently reading</span>
        </div>
      </a>
      {% endfor %}
      {% for book in user_books if book.action == 2 %}
      <a href="/books/{{book.book_data.work_id}}" class="book">
        <img src="https://covers.openlibrary.org/b/id/{{book.book_data.cover}}-S.jpg" alt="cover for {{book.book_data.cover}}">
        <div class="book-data">
          <span class="title">{{book.book_data.title}}</span>
          <span class="author">{{book.book_data.author}}</span>
          <span class="action">Finished reading</span>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <h1>Wishlist</h1>
    <div class="book-holder">
      {% for book in user_books if book.action == 0 %}
      <a href="/books/{{book.book_data.work_id}}" class="book">
        <img src="https://covers.openlibrary.org/b/id/{{book.book_data.cover}}-S.jpg" alt="cover for {{book.book_data.cover}}">
        <div class="book-data">
          <span class="title">{{book.book_data.title}}</span>
          <span class="author">{{book.book_data.author}}</span>
<!--          <span class="action">Currently reading</span>-->
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
