{% extends "base.html" %}

{% block title %}Book Network | Login{% endblock title %}

{% block content %}
<div class="container is-4">
  <h1>Login page</h1>
  <form action="/api/auth/login" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" class="input" type="text" placeholder="Username">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" placeholder="Password">
    <button type="submit">Login</button>
  </form>
</div>
{% endblock content %}