<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Book Network | Register</title>
</head>
<body>
  <h1>Create a new account</h1>
  <form action="/routers/api/auth/register" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password_confirmation" placeholder="Confirm Password">
    <input type="text" name="display_name" placeholder="Display Name (optional)">
    <textarea name="bio" placeholder="Bio (optional)"></textarea>
    <button type="submit">Register</button>
  </form>
</body>
</html>